.table-wrapper {
    width: 100%;
    overflow-x: auto;

    .table-component {
        width: 100%;
        padding-top: 0px;

        .header {
            font-weight: 600;
            text-align: left;
            color: #292f36;
            padding-bottom: 20px;
            border-bottom: 1px solid #e2e2e2;
            &.center{
                padding: 30px 15px;
                text-align: center;
            }
        }

        .element:first-child {
            font-weight: 600;
            text-align: left;
            color: #292f36;
        }
        .element:last-child {
            font-weight: 600;
            text-align: left;
            color: #292f36;
            text-align: right;

        }
        .element {


            font-size: 15px;
            border-bottom: 1px solid #e2e2e2;
            padding: 15px 0px;
            color: #757575;

            &.center{
                text-align: center;
            }
            &.clickable:hover{
                cursor: pointer;
                background-color:  #F2F2F2;
                transition: 0.5s;
            }
            .delete-icon{
                margin-right: 10px;
                cursor: pointer;
                width: 15px;
                height: 15px;
            }
        }

        .delete-card {
            cursor: pointer;
            img {
                width: 20px;
                height: 20px;
                object-fit: contain;
            }
        }
    }
}
