.employee-list-wrapper{
    padding: 50px;
    .add-employee-button-wrapper{
        margin-bottom: 20px;

    }
    .loading{
        display: flex;
        margin-top: 20px;
        &.error{
            color: red

        }
    }
}