@import "../../../designSystem/colors.scss";

.header-component {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-background;
    color: $font-primary;
    font-weight: 600;
    font-size: 20px;

}
