.layout-component {
    display: grid;
    grid-template:
        "header header"
        "content content";
    grid-gap: 0px;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 2fr;
    height: 100%;

    & * {
        box-sizing: border-box;
    }

    header {
        z-index: 2;
        grid-area: header;
    }

    .content {
        grid-area: content;
        overflow: auto;
        min-height: 100%;
    }

}
